<div class="container">
  <table>
    <h2>Categories</h2>
  </br>
    <ol>
      <%@category.each do |category|%>
        <li>
          <a href="/categories/<%=category.id%>/articles"><%=category.name%></a>
        </li>
      <%end%>
    </ol>
  </table>
</div>
